h1{
    font-family: fantasy;
    letter-spacing: 5px;
    text-align: center;
}
h2{
    text-decoration: double red line-through;
    font-family: Lucida Console;
}
h3{
    text-decoration: wavy underline blue;
    font-weight: 400;
}
a{
    text-decoration: none;
}
p{
    text-align: justify;
    letter-spacing: 2px;
}