h1{
    color: #ffa511;
    text-align: Center;
    font-weight: 900;
    letter-spacing: 2px;
    line-height: 1.5x;
    text-decoration: double teal underline;
    font-size: 55px;
    font-family: League Spartan;
    text-transform: uppercase;
}