*{
    text-align: center;
}
h1 h3 h5{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#para{
    color: white;
    background-color: cornflowerblue;
}
button{
    background-color: purple;
    color: azure;
}
button:hover{
background-color: yellow;
color: blue;
}
h1::first-letter{
    color: red;
}
