div{
    height: 50px;
    width:200px ;
    border:2px black solid;
    text-align: center;
    margin-top: 50px;
    margin-left: 100px;
    background-color: mediumaquamarine;
}

div:nth-of-type(2n){
    background-color: rgba(255, 255, 0, 0.658);
}

div:nth-of-type(3n){
    background-color: blue;
}

/* Rotate Property */
#one{
    transform: rotate(45deg);
}

/* Scale Property */

#three{
    transform: scale(0.5);
}
#four{
    transform: scaleX(1.5);
}

/* Skew Property */

#five{
    transform: skew(30deg);
}

/* Translate Property */

#two{
    transform: translate(100px);
}

#three{
    transform: translateX(100px) skew(40deg) rotate(45deg) scale(2);
}